@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w3plt3');
  src:  url('fonts/icomoon.eot?w3plt3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w3plt3') format('truetype'),
    url('fonts/icomoon.woff?w3plt3') format('woff'),
    url('fonts/icomoon.svg?w3plt3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-briefcase:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-cap:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-comp:before {
  content: "\e906";
}
.icon-contact:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e908";
}
.icon-folder-shared:before {
  content: "\e909";
  color: #229b3c;
}
.icon-loupe:before {
  content: "\e90a";
  color: #5e5e5e;
}
.icon-mark:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-next:before {
  content: "\e90d";
}
.icon-prev:before {
  content: "\e90e";
}
.icon-radio:before {
  content: "\e90f";
}
.icon-search-file:before {
  content: "\e910";
  color: #229b3c;
}
.icon-tel:before {
  content: "\e911";
  color: #5e5e5e;
}
.icon-write:before {
  content: "\e912";
  color: #229b3c;
}
