body {
  font-family: "Open Sans";
  line-height: 1.2;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.wrap {
  width: 1222px;
  padding: 0 15px;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}
a {
  transition: background-color 0.3s;
}
.wrap--relative {
  position: relative;
}
.h1 {
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 700;
}
.h2 {
  color: #282828;
  font-size: 18px;
  font-weight: 700;
  margin: 29px 0;
}
.btn {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #fff;
}
.btn--enter {
  padding: 7px 25px;
  background-color: #36a34d;
  margin-right: 10px;
  color: #fff;
}
.btn--enter:hover {
  background-color: #0f5c98;
}
.btn--submenu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 70px;
  background-color: transparent;
}
.btn--submenu:hover {
  background-color: transparent;
}
.search-form {
  margin-top: 27px;
  position: relative;
}
.search-form input {
  width: 288px;
  height: 43px;
  line-height: 43px;
  border: 1px solid #d2d2d2;
  padding: 0 32px 0 15px;
}
.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  height: 100%;
}
.search-form button span {
  font-size: 20px;
}
.breadcrumb {
  margin-bottom: 30px;
  color: #383838;
  font-family: "Open Sans - Semibold";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.33px;
  list-style: none;
}
.breadcrumb li {
  display: inline;
  color: #898989;
}
.breadcrumb li a {
  color: #383838;
  text-decoration: underline;
}
.breadcrumb li span {
  font-size: 6px;
  margin: 0 5px;
}
.header-wr .header .top-line-wr {
  border-bottom: 1px solid #d2d2d2;
}
.header-wr .header__top-line {
  height: 50px;
  padding: 10px 0;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wr .header__top-line a {
  color: #212121;
}
.header-wr .header__top-line span {
  text-decoration: underline;
}
.header-wr .header__top-line span[class="icon-eye"] {
  margin-right: 10px;
  text-decoration: none;
}
.header-wr .header__top-line span[class="icon-eye"]:before {
  vertical-align: middle;
}
.header-wr .header__callback {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wr .header__callback .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-wr .header__callback .logo__img {
  margin-right: 30px;
}
.header-wr .header__callback .logo__text {
  color: #202020;
  font-family: "Roboto Slab";
  font-size: 18px;
  text-align: center;
}
.header-wr .header__callback .logo__text span {
  color: #5e5e5e;
  font-size: 13px;
  display: block;
  margin-top: 25px;
}
.header-wr .header__callback .search .phone-link {
  text-align: right;
  color: #202020;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.header-wr .header__callback .search .phone-link .phone__number,
.header-wr .header__callback .search .phone-link .icon-tel {
  display: inline-block;
  vertical-align: middle;
}
.header-wr .header__callback .search .phone-link .icon-tel {
  margin-right: 10px;
}
.header-wr .header__callback .search .phone-link .gray {
  color: #5e5e5e;
}
.header-wr .header__callback .search .phone-link .colon {
  display: none;
}
.header-wr .header__callback .search .phone-link p {
  color: #898989;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
}
.header-wr .header .mobile-btns-wr {
  display: none;
}
.header-wr .header .navigation {
  margin-top: 20px;
  background-color: #f1f2f2;
}
.header-wr .header .navigation:after {
  content: '';
  display: table;
  clear: both;
}
.header-wr .header .navigation .search-form {
  display: none;
}
.header-wr .header .navigation .icon-menu {
  display: none;
  background-color: #f1f2f2;
  border: none;
  font-size: 20px;
  float: left;
  line-height: 50px;
  margin-left: 30px;
  text-align: center;
}
.header-wr .header .navigation .icon-menu.close {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  background-color: #0b54a0;
  color: #0b54a0;
  text-align: left;
  padding-left: 15px;
  margin-left: 0;
}
.header-wr .header .navigation .icon-menu.close:before {
  content: "\e903";
  font-size: 13px;
  color: #fff;
  margin-left: 26px;
}
.header-wr .header .navigation .main-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-wr .header .navigation .main-menu__link--arrow span {
  line-height: 20px;
  height: 20px;
}
.header-wr .header .navigation .main-menu__link--arrow span:after {
  content: "\e900";
  font-family: 'icomoon';
  color: #000100;
  font-size: 8px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.header-wr .header .navigation .main-menu .submenu {
  list-style: none;
  position: absolute;
  left: 0;
  top: 53px;
  width: 246px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.header-wr .header .navigation .main-menu .submenu__item {
  display: block;
  color: #212121;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 53px;
  background-color: #fff;
  text-transform: none;
}
.header-wr .header .navigation .main-menu .submenu__item:hover {
  background-color: #0b54a0;
}
.header-wr .header .navigation .main-menu .submenu__item a {
  padding-left: 40px;
  border: 1px solid #f1f2f2;
  border-top: none;
}
.header-wr .header .navigation .main-menu .submenu__item a:hover {
  background-color: #0b54a0;
  color: #fff;
  border-color: #0b54a0;
  border-bottom: none;
}
.header-wr .header .navigation .main-menu__item {
  position: relative;
  flex-grow: 1;
  color: #212121;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
}
.header-wr .header .navigation .main-menu__item:hover > a {
  border-bottom: 2px solid #0b54a0;
}
.header-wr .header .navigation .main-menu__item:hover > a.main-menu__link--arrow,
.header-wr .header .navigation .main-menu__item:hover > a span:after {
  color: #0b54a0;
}
.header-wr .header .navigation .main-menu__item:hover > a.main-menu__link--arrow {
  background-color: #fff;
}
.header-wr .header .navigation .main-menu__item:hover > .submenu {
  visibility: visible;
  opacity: 1;
}
.header-wr .header .navigation .main-menu__item:hover:before,
.header-wr .header .navigation .main-menu__item:hover + .main-menu__item:before {
  display: none;
}
.header-wr .header .navigation .main-menu__item.active:before,
.header-wr .header .navigation .main-menu__item.active + .main-menu__item:before {
  display: none;
}
.header-wr .header .navigation .main-menu__item.active:hover {
  border-bottom: none;
}
.header-wr .header .navigation .main-menu__item a {
  height: 53px;
  display: block;
}
.header-wr .header .navigation .main-menu__item a.active {
  background-color: #f8f9f9;
  color: #5a8bbd;
}
.header-wr .header .navigation .main-menu__item a:hover {
  background-color: #fff;
}
.header-wr .header .navigation .main-menu__item a.active:hover {
  background-color: #f8f9f9;
  border: none;
}
.header-wr .header .navigation .main-menu__item:before {
  content: '|';
  display: inline-block;
  font-size: 14px;
  color: #d2d2d2;
  position: absolute;
  top: 0;
  left: -3px;
}
.header-wr .header .navigation .main-menu__item:first-child:before {
  display: none;
}
.services-list-wr .services-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #212121;
  font-family: "Roboto Slab";
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.services-list-wr .services-list .services__item {
  display: block;
}
.services-list-wr .services-list .services__item span {
  display: inline-block;
  line-height: normal;
  height: 25px;
  vertical-align: middle;
}
.services-list-wr .services-list .services__item span[class^="icon"] {
  font-size: 23px;
  color: #229b3c;
  margin-right: 17px;
  line-height: 25px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
}
.services-list-wr .services-list .services__item span[class^="icon"]:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
}
.services-list-wr .services-list .services__item a {
  width: 189px;
  height: 50px;
  line-height: 50px;
  display: flex;
  border: 1px solid #d2d2d2;
  display: inline-block;
  padding-left: 10px;
}
.services-list-wr .services-list .services__item a:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #a6a6a6;
  background-color: #f5f5f5;
}
.services-list-wr .services-list .services__item a:hover span[class^="icon"] {
  background-color: #229b3c;
}
.services-list-wr .services-list .services__item a:hover span[class^="icon"]:before {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.content {
  margin-top: 25px;
}
.content:after {
  content: '';
  display: table;
  clear: both;
}
.content__col-left {
  float: left;
  width: 60%;
}
.content__col-left .about-list {
  color: #2969ab;
  margin-left: 20px;
}
.content__col-left .about-list li {
  margin-bottom: 30px;
}
.content__col-left .about-list li span {
  color: #383838;
  font-size: 15px;
  line-height: 21px;
}
.content .content-sidebar {
  float: right;
  width: 384px;
}
.content .content-sidebar .sidebar-title {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.content .content-sidebar .sidebar-title:before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 3px;
  background-color: #d0d0d0;
  margin-top: 7px;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.content .content-sidebar .sidebar-title:after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: #229b3c;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.content .content-sidebar .sidebar-list {
  color: #212121;
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin-top: 32px;
  border: 1px solid #cbcbcb;
}
.content .content-sidebar .sidebar-list .sidebar__item {
  width: 100%;
  border-bottom: 1px solid #cbcbcb;
  background-color: #f1f2f2;
}
.content .content-sidebar .sidebar-list .sidebar__item:last-child {
  border-bottom: none;
}
.content .content-sidebar .sidebar-list .sidebar__item a {
  display: block;
  height: 50px;
  padding: 18px 30px;
  box-sizing: padding-box;
}
.content .content-sidebar .sidebar-list .sidebar__item a.active {
  border-left: 10px solid #0b54a0;
  background-color: #fff;
  padding-left: 20px;
}
.content .content-sidebar .sidebar-list .sidebar__item a:hover {
  background-color: #0b54a0;
  color: #fff;
  padding-left: 30px;
}
.content .content-sidebar .sidebar-list .sidebar__item a.active:hover {
  background-color: #fff;
  padding-left: 20px;
  border: none;
  border-left: 10px solid #0b54a0;
  color: #212121;
}
.slider {
  margin-top: 75px;
  margin-bottom: 50px;
  padding: 0 40px;
}
.slider__slide img {
  margin-left: auto;
  margin-right: auto;
}
.slider .slick-prev {
  left: 0;
}
.slider .slick-prev:before {
  content: "\e901";
}
.slider .slick-next {
  right: 0;
}
.slider .slick-next:before {
  content: "\e90f";
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: #cbcbcb;
  font-size: 22px;
  font-family: 'icomoon';
}
.footer-wr .footer-links {
  background-color: #ebecec;
  padding-bottom: 40px;
}
.footer-wr .footer-links:after {
  content: '';
  display: table;
  clear: both;
}
.footer-wr .footer-links__col {
  float: left;
  width: 25%;
}
.footer-wr .footer-links__col a {
  display: block;
  color: #5e5e5e;
  font-size: 14px;
  margin-top: 20px;
  line-height: 14px;
  text-decoration: underline;
}
.footer-wr .footer-links__col ul {
  list-style: none;
}
.footer-wr .footer-links__col ul li {
  position: relative;
  padding-left: 10px;
  line-height: 14px;
}
.footer-wr .footer-links__col ul li a:before {
  content: "\e90d";
  font-size: 6px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'icomoon';
  color: #5e5e5e;
}
.footer-wr .footer-links__col .links-title {
  margin-top: 30px;
  color: #212121;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.footer-wr .footer {
  padding: 47px 0;
}
.footer-wr .footer:after {
  content: '';
  display: table;
  clear: both;
}
.footer-wr .footer__col {
  width: 25%;
  float: left;
}
.footer-wr .footer__col img {
  margin-left: 90px;
  vertical-align: bottom;
  margin-top: 15px;
}
.footer-wr .footer__col a {
  color: #5e5e5e;
  font-family: "Open Sans - Semibold";
  font-size: 12px;
  margin-top: 24px;
  text-decoration: underline;
}
.footer-wr .footer__col:first-child {
  width: 50%;
}
.footer-wr .footer__col:first-child p.grow {
  font-size: 16px;
}
.footer-wr .footer__col p {
  color: #202020;
  font-family: "Roboto Slab";
  font-size: 14px;
  margin-bottom: 15px;
}
.footer-wr .footer__col p.gray {
  color: #5e5e5e;
}
.footer-wr .footer__col p.grow {
  font-size: 24px;
}
.application {
  margin-top: 30px;
  margin-bottom: 30px;
}
.application:after {
  content: '';
  display: table;
  clear: both;
}
.application__col-left {
  float: left;
  width: 768px;
}
.application__col-left .h1 {
  margin-bottom: 20px;
}
.application__col-left .application-form__btn,
.application__col-left .answer-form__btn {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 13px 40px;
  font-size: 13px;
  display: inline-block;
  line-height: 15px;
  background-color: #36a34d;
  color: #fff;
  margin-top: 35px;
  margin-bottom: 60px;
}
.application__col-left .application-form .form-default,
.application__col-left .answer-form .form-default {
  color: #212121;
  font-size: 12px;
  font-weight: 600;
}
.application__col-left .application-form .form-default sup.red,
.application__col-left .answer-form .form-default sup.red {
  color: #e35757;
  margin-right: 5px;
}
.application__col-left .application-form .phone-mask,
.application__col-left .answer-form .phone-mask {
  color: #a8a8a8;
  font-size: 13px;
  margin-bottom: 20px;
  text-align: right;
  font-style: italic;
}
.application__col-left .application-form .textarea,
.application__col-left .answer-form .textarea {
  width: 100%;
  padding: 20px;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 14px;
}
.application__col-left .application-form .textarea__simbols,
.application__col-left .answer-form .textarea__simbols {
  color: #a8a8a8;
  font-size: 13px;
  margin-bottom: 20px;
  text-align: right;
  font-style: italic;
}
.application__col-left .application-form .textarea__simbols span.green,
.application__col-left .answer-form .textarea__simbols span.green {
  color: #36a34d;
}
.application__col-left .application-form .select .selectize-input,
.application__col-left .answer-form .select .selectize-input {
  color: #5e5e5e;
  border-radius: 0;
  width: 100%;
  height: 40px;
}
.application__col-left .application-form .select .selectize-dropdown-content .option.active,
.application__col-left .answer-form .select .selectize-dropdown-content .option.active {
  background-color: #0b54a0;
  color: #fff;
}
.application__col-left .application-form .input,
.application__col-left .answer-form .input {
  display: block;
  color: #5e5e5e;
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 0 20px;
  font-size: 14px;
}
.application__col-left .application-form .label,
.application__col-left .answer-form .label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  color: #5e5e5e;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
}
.application__col-left .application-form .label sup,
.application__col-left .answer-form .label sup {
  font-size: 10px;
  margin-left: 5px;
}
.application__col-left .application-form .label sup.red,
.application__col-left .answer-form .label sup.red {
  color: #e35757;
}
.application__col-left .application-form .form__row,
.application__col-left .answer-form .form__row {
  width: 100%;
}
.application__col-left .application-form .form__row:after,
.application__col-left .answer-form .form__row:after {
  content: '';
  display: table;
  clear: both;
}
.application__col-left .application-form .form__col,
.application__col-left .answer-form .form__col {
  float: left;
  padding: 0 20px 0 0;
}
.application__col-left .application-form .form__col .radiobtn .label:after,
.application__col-left .answer-form .form__col .radiobtn .label:after {
  border-radius: 50%;
}
.application__col-left .application-form .form__col .radiobtn .label:after,
.application__col-left .answer-form .form__col .radiobtn .label:after {
  transform: rotate(-45deg);
}
.application__col-left .application-form .form__col .checkbox-ico,
.application__col-left .answer-form .form__col .checkbox-ico,
.application__col-left .application-form .form__col .radiobtn-ico,
.application__col-left .answer-form .form__col .radiobtn-ico {
  position: relative;
}
.application__col-left .application-form .form__col .checkbox-ico label,
.application__col-left .answer-form .form__col .checkbox-ico label,
.application__col-left .application-form .form__col .radiobtn-ico label,
.application__col-left .answer-form .form__col .radiobtn-ico label {
  display: flex;
  user-select: none;
}
.application__col-left .application-form .form__col .checkbox-ico .icon,
.application__col-left .answer-form .form__col .checkbox-ico .icon,
.application__col-left .application-form .form__col .radiobtn-ico .icon,
.application__col-left .answer-form .form__col .radiobtn-ico .icon {
  display: none;
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 15px;
  color: #0b54a0;
  line-height: 22px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
}
.application__col-left .application-form .form__col .checkbox-ico .icon:hover,
.application__col-left .answer-form .form__col .checkbox-ico .icon:hover,
.application__col-left .application-form .form__col .radiobtn-ico .icon:hover,
.application__col-left .answer-form .form__col .radiobtn-ico .icon:hover {
  cursor: pointer;
}
.application__col-left .application-form .form__col .checkbox-ico .icon.icon-radio,
.application__col-left .answer-form .form__col .checkbox-ico .icon.icon-radio,
.application__col-left .application-form .form__col .radiobtn-ico .icon.icon-radio,
.application__col-left .answer-form .form__col .radiobtn-ico .icon.icon-radio {
  font-size: 8px;
}
.application__col-left .application-form .form__col .checkbox-ico .label,
.application__col-left .answer-form .form__col .checkbox-ico .label,
.application__col-left .application-form .form__col .radiobtn-ico .label,
.application__col-left .answer-form .form__col .radiobtn-ico .label {
  display: inline-block;
  margin-left: 20px;
}
.application__col-left .application-form .form__col .checkbox-ico .label:hover,
.application__col-left .answer-form .form__col .checkbox-ico .label:hover,
.application__col-left .application-form .form__col .radiobtn-ico .label:hover,
.application__col-left .answer-form .form__col .radiobtn-ico .label:hover {
  cursor: pointer;
}
.application__col-left .application-form .form__col .checkbox-ico .label:before,
.application__col-left .answer-form .form__col .checkbox-ico .label:before,
.application__col-left .application-form .form__col .radiobtn-ico .label:before,
.application__col-left .answer-form .form__col .radiobtn-ico .label:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 0;
  border: 2px solid #d2d2d2;
}
.application__col-left .application-form .form__col .checkbox-ico input[type="checkbox"],
.application__col-left .answer-form .form__col .checkbox-ico input[type="checkbox"],
.application__col-left .application-form .form__col .radiobtn-ico input[type="checkbox"],
.application__col-left .answer-form .form__col .radiobtn-ico input[type="checkbox"],
.application__col-left .application-form .form__col .checkbox-ico input[type="radio"],
.application__col-left .answer-form .form__col .checkbox-ico input[type="radio"],
.application__col-left .application-form .form__col .radiobtn-ico input[type="radio"],
.application__col-left .answer-form .form__col .radiobtn-ico input[type="radio"] {
  visibility: hidden;
}
.application__col-left .application-form .form__col .checkbox-ico input[type="checkbox"]:checked ~ .icon,
.application__col-left .answer-form .form__col .checkbox-ico input[type="checkbox"]:checked ~ .icon,
.application__col-left .application-form .form__col .radiobtn-ico input[type="checkbox"]:checked ~ .icon,
.application__col-left .answer-form .form__col .radiobtn-ico input[type="checkbox"]:checked ~ .icon,
.application__col-left .application-form .form__col .checkbox-ico input[type="radio"]:checked ~ .icon,
.application__col-left .answer-form .form__col .checkbox-ico input[type="radio"]:checked ~ .icon,
.application__col-left .application-form .form__col .radiobtn-ico input[type="radio"]:checked ~ .icon,
.application__col-left .answer-form .form__col .radiobtn-ico input[type="radio"]:checked ~ .icon {
  display: block;
}
.application__col-left .application-form .form__col .radiobtn-ico .label:before,
.application__col-left .answer-form .form__col .radiobtn-ico .label:before {
  border-radius: 50%;
}
.application__col-left .application-form .form__col .radiobtn .label:after,
.application__col-left .answer-form .form__col .radiobtn .label:after {
  height: 10px !important;
  margin-top: -2px;
}
.application__col-left .application-form .form__col .checkbox,
.application__col-left .answer-form .form__col .checkbox,
.application__col-left .application-form .form__col .radiobtn,
.application__col-left .answer-form .form__col .radiobtn {
  position: relative;
}
.application__col-left .application-form .form__col .checkbox .label,
.application__col-left .answer-form .form__col .checkbox .label,
.application__col-left .application-form .form__col .radiobtn .label,
.application__col-left .answer-form .form__col .radiobtn .label {
  display: inline-block;
  margin-left: 20px;
  user-select: none;
}
.application__col-left .application-form .form__col .checkbox .label:hover,
.application__col-left .answer-form .form__col .checkbox .label:hover,
.application__col-left .application-form .form__col .radiobtn .label:hover,
.application__col-left .answer-form .form__col .radiobtn .label:hover {
  cursor: pointer;
}
.application__col-left .application-form .form__col .checkbox .label:after,
.application__col-left .answer-form .form__col .checkbox .label:after,
.application__col-left .application-form .form__col .radiobtn .label:after,
.application__col-left .answer-form .form__col .radiobtn .label:after {
  display: block;
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 5px;
  background: transparent;
}
.application__col-left .application-form .form__col .checkbox .label:before,
.application__col-left .answer-form .form__col .checkbox .label:before,
.application__col-left .application-form .form__col .radiobtn .label:before,
.application__col-left .answer-form .form__col .radiobtn .label:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 0;
  border: 2px solid #d2d2d2;
}
.application__col-left .application-form .form__col .checkbox input[type="checkbox"],
.application__col-left .answer-form .form__col .checkbox input[type="checkbox"],
.application__col-left .application-form .form__col .radiobtn input[type="checkbox"],
.application__col-left .answer-form .form__col .radiobtn input[type="checkbox"] {
  visibility: hidden;
}
.application__col-left .application-form .form__col .checkbox input[type="checkbox"]:checked + .label:after,
.application__col-left .answer-form .form__col .checkbox input[type="checkbox"]:checked + .label:after,
.application__col-left .application-form .form__col .radiobtn input[type="checkbox"]:checked + .label:after,
.application__col-left .answer-form .form__col .radiobtn input[type="checkbox"]:checked + .label:after {
  background-size: 10px;
  border: 3px solid #0b54a0;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.application__col-left .application-form .form__col .checkbox input[type="radio"],
.application__col-left .answer-form .form__col .checkbox input[type="radio"],
.application__col-left .application-form .form__col .radiobtn input[type="radio"],
.application__col-left .answer-form .form__col .radiobtn input[type="radio"] {
  visibility: hidden;
}
.application__col-left .application-form .form__col .checkbox input[type="radio"] + .label:before,
.application__col-left .answer-form .form__col .checkbox input[type="radio"] + .label:before,
.application__col-left .application-form .form__col .radiobtn input[type="radio"] + .label:before,
.application__col-left .answer-form .form__col .radiobtn input[type="radio"] + .label:before {
  border-radius: 50%;
}
.application__col-left .application-form .form__col .checkbox input[type="radio"]:checked + .label:after,
.application__col-left .answer-form .form__col .checkbox input[type="radio"]:checked + .label:after,
.application__col-left .application-form .form__col .radiobtn input[type="radio"]:checked + .label:after,
.application__col-left .answer-form .form__col .radiobtn input[type="radio"]:checked + .label:after {
  background: #0b54a0;
  background-size: 10px;
  box-shadow: inset 0 1px 0 #ffffff, inset 0 -1px 0 #ffffff, inset 1px 0 0 #ffffff, inset -1px 0 0 #ffffff;
}
.application__col-right {
  float: right;
  max-width: 366px;
}
.application__rule {
  background-color: #f1f2f2;
  padding: 18px 20px 5px;
  border-bottom: 1px solid #dfe1e1;
  margin-left: 12px;
}
.application__rule .rule-title {
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}
.application__rule .rule-text {
  margin-bottom: 20px;
  color: #212121;
  font-size: 14px;
}
.application__rule .documents-list {
  font-size: 14px;
  line-height: 20px;
}
.application__rule .documents-list__item {
  padding-left: 35px;
  margin-bottom: 20px;
  background: url("../img/pdf.png") no-repeat left 4px;
  background-size: 20px;
}
.application__rule .documents-list__item .doc-name {
  color: #0b54a0;
  text-decoration: underline;
}
/*@media*/
@media (max-width: 1240px) {
  .wrap {
    width: 1000px;
    padding: 0 15px;
  }
  .btn--submenu {
    display: inline-block;
  }
  .header-wr .header .navigation {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .header-wr .header .navigation:after {
    content: '';
    display: table;
    clear: both;
  }
  .header-wr .header .navigation .icon-menu {
    display: block;
  }
  .header-wr .header .navigation .icon-menu.close {
    left: 15px;
  }
  .header-wr .header .navigation .main-menu {
    flex-direction: column;
    width: 275px;
    position: absolute;
    top: 52px;
    left: 15px;
    z-index: 2;
    display: none;
  }
  .header-wr .header .navigation .main-menu.show {
    display: block;
  }
  .header-wr .header .navigation .main-menu__item:hover > a {
    border: none;
  }
  .header-wr .header .navigation .main-menu__item:hover > a.main-menu__link--arrow,
  .header-wr .header .navigation .main-menu__item:hover > a span:after {
    color: #5a8bbd;
    background-color: #0c4d94;
  }
  .header-wr .header .navigation .main-menu__link--arrow {
    position: relative;
  }
  .header-wr .header .navigation .main-menu__link--arrow span {
    line-height: 70px;
    height: 70px;
  }
  .header-wr .header .navigation .main-menu__link--arrow span:after {
    content: "\e90f";
    font-family: 'icomoon';
    color: #fff;
    font-size: 12px;
    margin: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: #1a68bb;
    width: 60px;
    height: 69px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header-wr .header .navigation .main-menu .submenu {
    left: 274px;
    top: 0;
  }
  .header-wr .header .navigation .main-menu .submenu__item {
    background-color: #1a68bb;
    color: #fff;
  }
  .header-wr .header .navigation .main-menu .submenu__item a {
    border-bottom: 1px solid #064991;
    height: 70px;
    line-height: 70px;
    border-left: none;
    border-right: none;
  }
  .header-wr .header .navigation .main-menu .submenu__item a:hover {
    background-color: #0b54a0 !important;
  }
  .header-wr .header .navigation .main-menu__item {
    width: 100%;
    text-align: left;
    background-color: #0b54a0;
  }
  .header-wr .header .navigation .main-menu__item.click > .submenu {
    visibility: visible;
    opacity: 1;
  }
  .header-wr .header .navigation .main-menu__item.click span:after {
    transform: rotate(180deg);
  }
  .header-wr .header .navigation .main-menu__item.click:hover > .submenu {
    visibility: visible;
    opacity: 1;
  }
  .header-wr .header .navigation .main-menu__item:hover {
    background-color: #0c4d94;
  }
  .header-wr .header .navigation .main-menu__item:hover a.main-menu__link--arrow {
    color: #fff;
  }
  .header-wr .header .navigation .main-menu__item:hover a span:after {
    background-color: #1a68bb;
    color: #fff;
  }
  .header-wr .header .navigation .main-menu__item:hover > .submenu {
    opacity: 0;
    visibility: hidden;
  }
  .header-wr .header .navigation .main-menu__item:before {
    display: none;
  }
  .header-wr .header .navigation .main-menu__item a {
    padding-left: 50px;
    color: #fff;
    line-height: 70px;
    height: 70px;
    border-bottom: 1px solid #064991;
  }
  .header-wr .header .navigation .main-menu__item a.arrow > span {
    margin-left: 15px;
    font-size: 6px;
  }
  .header-wr .header .navigation .main-menu__item a.active {
    background-color: #0b54a0 !important;
    color: #fff !important;
  }
  .header-wr .header .navigation .main-menu__item a:hover {
    background-color: #0c4d94 !important;
    transform: none;
  }
  .header-wr .header .navigation .search-form {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    padding: 5px 0;
    float: right;
  }
  .header-wr .header__callback {
    margin-top: 55px;
  }
  .header-wr .header__top-line {
    position: relative;
  }
  .header-wr .header__top-line a:first-child {
    display: none;
  }
  .header-wr .header__callback .logo {
    width: 100%;
  }
  .header-wr .header__callback .logo__img {
    margin-right: 120px;
  }
  .header-wr .header__callback .search {
    position: absolute;
    top: -96px;
    left: 15px;
  }
  .header-wr .header__callback .search .search-form {
    display: none;
  }
  .header-wr .header__callback .search .phone-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-wr .header__callback .search .phone-link span.colon {
    display: inline-block;
  }
  .header-wr .header__callback .search .phone-link p {
    margin-right: 10px;
  }
  .services-list-wr .services-list .services__item {
    width: 33.3333%;
    padding: 5px;
  }
  .services-list-wr .services-list .services__item a {
    width: 100%;
  }
  .content .content-sidebar {
    width: 100%;
    margin-bottom: 30px;
  }
  .content__col-left {
    width: 100%;
  }
  .content__col-left .about-list li {
    margin-bottom: 10px;
  }
  .slider__slide {
    margin: 0 5px;
  }
  .slider__slide img {
    width: 98%;
  }
  .footer-wr .footer-links__col {
    width: 33%;
    padding-right: 20px;
  }
  .footer-wr .footer-links__col:nth-child(3) {
    display: none;
  }
  .footer-wr .footer__col {
    width: 30%;
  }
  .footer-wr .footer__col img {
    margin-left: 20px;
  }
  .footer-wr .footer__col:first-child {
    width: 40%;
  }
  .footer-wr .footer__col:first-child p.grow {
    font-size: 14px;
  }
  .application__col-right {
    margin-bottom: 30px;
    float: none;
    max-width: 100%;
  }
  .application__col-left {
    width: 100%;
    float: none;
  }
  .application__rule {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .wrap {
    width: 100%;
    padding: 0 10px;
  }
  .icon-menu.close {
    left: 10px !important;
  }
  .main-menu {
    left: 10px !important;
  }
}
@media (max-width: 768px) {
  br.hide {
    display: none;
  }
  .header__callback .logo__img {
    margin-right: 30px !important;
  }
  .footer-wr .footer-links__col {
    width: 50%;
    padding-right: 0;
  }
  .footer-wr .footer-links__col:nth-child(2) {
    display: none;
  }
  .footer-wr .footer__col {
    width: 48% !important;
  }
  .footer-wr .footer__col:first-child {
    margin-right: 15px;
  }
  .footer-wr .footer__col:nth-child(2) {
    display: none;
  }
}
@media (max-width: 700px) {
  .header-wr .header__callback .search {
    display: none;
    top: -3px !important;
    left: 0;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    padding-right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #d2d2d2;
  }
  .header-wr .header__callback .search.show {
    display: block;
  }
  .header-wr .header__callback .search .phone-link {
    padding: 13px 0;
  }
  .header-wr .header__callback .logo__img {
    margin-right: 10px !important;
  }
  .header-wr .header__callback .logo__img img {
    width: 100%;
  }
  .header-wr .header__callback .logo__text {
    font-size: 14px;
  }
  .header-wr .header__callback .logo__text span {
    display: none;
  }
  .header-wr .header__top-line {
    position: absolute;
    top: 0;
    right: 59px;
    background-color: #fff;
    display: none;
  }
  .header-wr .header__top-line.show {
    display: block;
    z-index: 3;
  }
  .header-wr .header__top-line:after {
    content: '';
    display: table;
    clear: both;
  }
  .header-wr .header .mobile-btns-wr {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 2;
  }
  .header-wr .header .mobile-btns-wr button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #f1f2f2;
    margin-left: 20px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .header-wr .header .mobile-btns-wr button.icon-contact2 {
    color: #fff;
    background-color: #36a34d;
    font-size: 16px;
    line-height: 16px;
  }
  .header-wr .header .mobile-btns-wr button.icon-contact2:before {
    width: 100%;
    text-align: center;
  }
  .header-wr .header .navigation {
    background-color: #fff;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    top: 0px;
    margin-top: 0;
  }
  .header-wr .header .navigation .icon-menu {
    width: 52px;
    margin-left: -10px;
  }
  .header-wr .header .navigation .icon-menu.close {
    float: left;
    height: 52px;
    width: 50px;
    left: 0 !important;
  }
  .header-wr .header .navigation .icon-menu.close:before {
    margin-left: 3px;
  }
  .header-wr .header .navigation .main-menu {
    width: 100%;
    left: 0 !important;
  }
  .header-wr .header .navigation .main-menu__link--arrow span:after {
    content: "\e900" !important;
  }
  .header-wr .header .navigation .main-menu .submenu {
    width: 100%;
    left: 0;
    top: 71px;
  }
  .header-wr .header .navigation .main-menu .submenu li {
    border-right: none !important;
  }
  .header-wr .header .navigation .search-form {
    display: none;
    padding: 5px 10px;
    position: absolute;
    top: 52px;
    width: 100%;
    left: 0;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    z-index: 2;
    background-color: #fff;
  }
  .header-wr .header .navigation .search-form.show {
    display: block;
  }
  .header-wr .header .navigation .search-form input {
    width: 100%;
  }
  .header-wr .header .navigation .search-form button {
    right: 10px;
  }
  .services-list-wr .services-list {
    justify-content: center;
  }
  .services-list-wr .services-list .services__item {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
  .services-list-wr .services-list .services__item a {
    width: 100%;
  }
  .footer-wr .footer-links__col {
    width: 100%;
  }
  .footer-wr .footer__col {
    width: 100% !important;
  }
  .footer-wr .footer__col:first-child {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .services-list-wr .services-list {
    justify-content: center;
  }
  .services-list-wr .services-list .services__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 0;
  }
  .services-list-wr .services-list .services__item a {
    width: 100%;
  }
  .phone-link {
    font-size: 18px !important;
  }
}
