body {
	font-family: "Open Sans"; 
	line-height: 1.2;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.wrap {
	width: 1222px;
	padding: 0 15px;
	margin: 0 auto;
	min-width: 320px;
	position: relative;
}

a {
	transition: background-color .3s;
}

.wrap--relative {
	position: relative;
}

.h1 {
	font-family: "Roboto Slab";
	font-size: 30px;
	font-weight: 700;
}

.h2 {
	color: #282828;
	font-size: 18px;
	font-weight: 700;
	margin: 29px 0;
}

.btn {
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s;
	border: none;
	&:hover {
		cursor: pointer;
		background-color: #fff;
	}
}

.btn--enter {
	padding: 7px 25px;
	background-color: #36a34d;
	margin-right: 10px;
	color: #fff;
	&:hover {
		background-color: #0f5c98;
	}
}

.btn--submenu {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 70px;
	background-color: transparent;
	&:hover {
		background-color: transparent;
	}
}

.search-form {
	margin-top: 27px;
	position: relative;
	input {
		width: 288px;
		height: 43px;
		line-height: 43px;
		border: 1px solid #d2d2d2;
		padding: 0 32px 0 15px;
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		background-color: transparent;
		border: none;
		height: 100%;
		span {
			font-size: 20px;
		}
	}
}

.breadcrumb {
	margin-bottom: 30px;
	color: #383838;
	font-family: "Open Sans - Semibold";
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.33px;
	list-style: none;
	li {
		display: inline;
		color: #898989;
		a {
			color: #383838;
			text-decoration: underline;		
		}
		span {
			font-size: 6px;
			margin: 0 5px;
		}
	}
}

.header-wr {
	.header {
		.top-line-wr {
			border-bottom: 1px solid #d2d2d2;
		}
		&__top-line {
			height: 50px;
			padding: 10px 0;
			font-size: 13px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			a {
				color: #212121;
			}
			span {
				text-decoration: underline;
				&[class="icon-eye"] {
					margin-right: 10px;
					text-decoration: none;
					&:before {
						vertical-align: middle;
					}
				}
			}
		}
		&__callback {
			padding: 20px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				&__img {
					margin-right: 30px;
				}
				&__text {
					color: #202020;
					font-family: "Roboto Slab";
					font-size: 18px;
					text-align: center;
					span {
						color: #5e5e5e;
						font-size: 13px;
						display: block;
						margin-top: 25px;
					}
				}
			}
			.search {
				.phone-link {
					text-align: right;
					color: #202020;
					font-family: "Roboto Slab";
					font-size: 24px;
					font-weight: 700;
					line-height: 24px;
					.phone__number, .icon-tel {
						display: inline-block;
						vertical-align: middle;
					}
					.icon-tel {
						margin-right: 10px;
					}
					.gray {
						color: #5e5e5e;
					}
					.colon {
						display: none;
					}
					p {
						color: #898989;
						font-family: "Open Sans";
						font-size: 13px;
						font-weight: 400;
					}
				}
			}
		}
		.mobile-btns-wr	{
				display: none;
			}
		.navigation {
			margin-top: 20px;
			background-color: #f1f2f2;
			.clearfix;
			.search-form {
				display: none;
			}
			.icon-menu {
				display: none;
				background-color: #f1f2f2;
				border: none;
				font-size: 20px;
				float: left;
				line-height: 50px;
				margin-left: 30px;
				text-align: center;
				&.close {
					position: absolute;
					top: 0;
					left: 0;
					width: 275px;
					background-color: #0b54a0;
					color: #0b54a0;
					text-align: left;
					padding-left: 15px;
					margin-left: 0;
					&:before {
						content: "\e903";
						font-size: 13px;
						color: #fff;
						margin-left: 26px;
					}
				}
			}
			.main-menu {
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				&__link--arrow {
					span {
						line-height: 20px;
						height: 20px;
						&:after {
							content: "\e900";
							font-family: 'icomoon';
							color: #000100;
							font-size: 8px;
							margin-left: 10px;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
				.submenu {
					list-style: none;
					position: absolute;
					left: 0;
					top: 53px;
					width: 246px;
					visibility: hidden;
					opacity: 0;
					z-index: 2;
					&__item {
						display: block;
						color: #212121;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						text-align: left;
						line-height: 53px;
						background-color: #fff;
						text-transform: none;
						&:hover {
							background-color: #0b54a0;
						}
						a {
							padding-left: 40px;
							border: 1px solid #f1f2f2;
							border-top: none;
							&:hover {
								background-color: #0b54a0;
								color: #fff;
								border-color: #0b54a0;
								border-bottom: none;
							}
						}	
					}
				}
				&__item {
					position: relative;
					flex-grow: 1;
					color: #212121;
					font-family: "Open Sans";
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					text-align: center;
					line-height: 53px;
					&:hover {
						&>a {
							border-bottom: 2px solid #0b54a0;
							&.main-menu__link--arrow, span:after {
								color: #0b54a0;
							}
							&.main-menu__link--arrow {
								background-color: #fff;
							}
						}
						>.submenu {
							visibility: visible;
							opacity: 1;
						}
						&:before, &+.main-menu__item:before {
							display: none;
						}
					}
					&.active:before, &.active+.main-menu__item:before {
						display: none;
					}
					&.active:hover {
						border-bottom: none;
					}
					a {
						height: 53px;
						display: block;
						&.active {
							background-color: #f8f9f9;
							color: #5a8bbd;
						}
						&:hover {
							background-color: #fff;
						}
						&.active:hover {
							background-color: #f8f9f9;
							border: none;
						}
					}
					&:before {
						content: '|';
						display: inline-block;
						font-size: 14px;
						color: #d2d2d2;
						position: absolute;
						top: 0;
						left: -3px;
					}
					&:first-child:before {
						display: none;
					}
				}
			}
		}
	}
}

.services-list-wr {
	.services-list {
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		color: #212121;
		font-family: "Roboto Slab";
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		.services__item {
			display: block;
			span {
				display: inline-block;
				line-height: normal;
				height: 25px;
				vertical-align: middle;
			}
			span[class^= "icon"] {
					font-size: 23px;
					color: #229b3c;
					margin-right: 17px;
					line-height: 25px;
					height: 25px;
					width: 25px;
					border-radius: 50%;
					text-align: center;
					line-height: 16px;
					&:before {
						display: inline-block;
						vertical-align: middle;
						font-size: 23px;
					}
				}
			a {
				width: 189px;
				height: 50px;
				line-height: 50px;
				display: flex;
				border: 1px solid #d2d2d2;
				display: inline-block;
				padding-left: 10px;
				&:hover {
					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
					border: 1px solid #a6a6a6;
					background-color: #f5f5f5;
					span[class^= "icon"] {
						background-color: #229b3c;
						&:before {
							color: #fff;
							font-size: 14px;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}	
			}
		}
	}
}

.content {
	margin-top: 25px;
	.clearfix;
	&__col-left {
		float: left;
		width: 60%;
		.about-list {
			color: #2969ab;
			margin-left: 20px;
			li {
				margin-bottom: 30px;
				span {
					color: #383838;
					font-size: 15px;
					line-height: 21px;
				}
			}
		}
	}
	.content-sidebar {
		float: right;
		width: 384px;
		.sidebar-title {
			font-family: "Roboto Slab";
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			position: relative;
			&:before {
				content: "";
				display: inline-block;
				width: 120px;
				height: 3px;
				background-color: #d0d0d0;
				margin-top: 7px;
				position: absolute;
				left: 0;
				bottom: -10px;
			}
			&:after {
				content: "";
				display: inline-block;
				width: 40px;
				height: 3px;
				background-color: #229b3c;
				position: absolute;
				bottom: -10px;
				left: 0;
			}
		}
		.sidebar-list {
			color: #212121;
			font-size: 14px;
			text-align: left;
			list-style: none;
			margin-top: 32px;
			border: 1px solid #cbcbcb;
			.sidebar__item {
				width: 100%;	
				border-bottom: 1px solid #cbcbcb;
				background-color: #f1f2f2;
				&:last-child {
					border-bottom: none;
				}
				a {
					display: block;
					height: 50px;
					padding: 18px 30px;
					box-sizing: padding-box;
					&.active {
						border-left: 10px solid #0b54a0;
						background-color: #fff;
						padding-left: 20px;
					}
					&:hover {
						background-color: #0b54a0;
						color: #fff;
						padding-left: 30px;
					}
					&.active:hover {
						background-color: #fff;
						padding-left: 20px;
						border: none;
						border-left: 10px solid #0b54a0;
						color: #212121;
					}
				}
			}
		}
	}
}

.slider {
	margin-top: 75px;
	margin-bottom: 50px;
	padding: 0 40px;
	&__slide {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.slick-prev {
 	   left: 0;
 	   &:before {
		content: "\e901";
 	   }
	}
	.slick-next {
 	   right: 0;
 	    &:before {
		content: "\e90f";
 	   }
	}
	.slick-prev:before, .slick-next:before {
		color: #cbcbcb;
		font-size: 22px;
		font-family: 'icomoon';
	}
}

.footer-wr {
	.footer-links {
		background-color: #ebecec;
		padding-bottom: 40px;
		.clearfix;
		&__col {
			float: left;
			width: 25%;
			a {
				display: block;
				color: #5e5e5e;
				font-size: 14px;
				margin-top: 20px;
				line-height: 14px;
				text-decoration: underline;
			}
			ul {
				list-style: none;
				li {
					position: relative;
					padding-left: 10px;
					line-height: 14px;
					a {
						&:before {
							content: "\e90d";
							font-size: 6px;
							position: absolute;
							top: 0;
							left: 0;
							font-family: 'icomoon';
							color: #5e5e5e;
						}
					}
				}
			}
			.links-title {
				margin-top: 30px;
				color: #212121;
				font-family: "Roboto Slab";
				font-size: 18px;
				font-weight: 700;
				line-height: 30px;
			}
		}
	}
	.footer {
		padding: 47px 0;
		.clearfix;
		&__col {
			width: 25%;
			float: left;
			img {
				margin-left: 90px;
				vertical-align: bottom;
				margin-top: 15px;
			}
			a {
				color: #5e5e5e;
				font-family: "Open Sans - Semibold";
				font-size: 12px;
				margin-top: 24px;
				text-decoration: underline;
			}
			&:first-child {
				width: 50%;
				p {
					&.grow {
						font-size: 16px;
					}
				}
			}
			p {
				color: #202020;
				font-family: "Roboto Slab";
				font-size: 14px;
				margin-bottom: 15px;
				&.gray {
					color: #5e5e5e;
				}
				&.grow {
					font-size: 24px;
				}
			}
		}
	}
}

.application {
	margin-top: 30px;
	margin-bottom: 30px;
	.clearfix;
	&__col-left {
		float: left;
		width: 768px;
		.h1 {
			margin-bottom: 20px;
		}
		.application-form, .answer-form {
			&__btn {
				border: none;
				font-weight: bold;
				text-transform: uppercase;
				padding: 13px 40px;
				font-size: 13px;
				display: inline-block;
				line-height: 15px;
				background-color: #36a34d;
				color: #fff;
				margin-top: 35px;
				margin-bottom: 60px;
			}
			.form-default {
				color: #212121;
				font-size: 12px;
				font-weight: 600;
				sup {
					&.red {
						color: #e35757;
						margin-right: 5px;
					}
				}
			}
			.phone-mask {
				color: #a8a8a8;
				font-size: 13px;
				margin-bottom: 20px;
				text-align: right;
				font-style: italic;
			}
			.textarea {
				width: 100%;
				padding: 20px;
				color: #5e5e5e;
				font-family: 'Open Sans';
				font-size: 14px;
				&__simbols {
					color: #a8a8a8;
					font-size: 13px;
					margin-bottom: 20px;
					text-align: right;
					font-style: italic;
					span {
						&.green {
							color: #36a34d;
						}
					}
				}
			}
			.select {
				.selectize-input {
					color: #5e5e5e;
					border-radius: 0;
					width: 100%;
					height: 40px;
					}
				.selectize-dropdown-content {
					.option {
						&.active {
							background-color: #0b54a0;
							color: #fff;
						}	
					}
				}
			}
			.input {
				display: block;
				color: #5e5e5e;
				border: 1px solid #d2d2d2;
				width: 100%;
				height: 40px;
				line-height: 20px;
				padding: 0 20px;
				font-size: 14px;
			}
			.label {
				display: block;
				margin-top: 20px;
				margin-bottom: 8px;
				color: #5e5e5e;
				font-size: 13px;
				font-weight: 600;
				font-style: italic;
				sup {
					font-size: 10px;
					margin-left: 5px;
					&.red {
						color: #e35757;
					}
				}
			}
			.form__row {
				width: 100%;
				.clearfix;
			}
			.form__col {
				float: left;
				padding: 0 20px 0 0;
				.radiobtn {
					.label {
						&:after {
							border-radius: 50%;
						}
					}
				}
				.radiobtn {
					.label {
						&:after {
							transform: rotate(-45deg);
						}
					}
				}
				.checkbox-ico, .radiobtn-ico {
					position: relative;
					label {
						display: flex;
						user-select: none;
					}
					.icon {
						display: none;
						position: absolute;
						top: 15px;
						left: 0;
						font-size: 15px;
						color: #0b54a0;
						line-height: 22px;
						width: 20px;
						height: 20px;
						text-align: center;
						font-weight: bold;
						&:hover {
							cursor: pointer;
						}
						&.icon-radio {
							font-size: 8px;
						}
					}
					.label {
						display: inline-block;
						margin-left: 20px;
						&:hover {
							cursor: pointer;
						}
						&:before {
							display: block;
							content: '';
							width: 20px;
							height: 20px;
							position: absolute;
							top: 15px;
							left: 0;
							border: 2px solid #d2d2d2;
						}
					}
						input[type="checkbox"], input[type="radio"] {
					 	  visibility: hidden;
						    &:checked ~ .icon {
					    	 display: block;
					    	}
						}
					}
				.radiobtn-ico {
					.label {
						&:before {
							border-radius: 50%;
						}
					}
				}
				.radiobtn {
					.label {
						&:after {
							height: 10px !important;
							margin-top: -2px;
						}
					}
				}
				.checkbox, .radiobtn {
					position: relative;
					.label {
						display: inline-block;
						margin-left: 20px;
						user-select: none;
						&:hover {
							cursor: pointer;
						}
						&:after {
							display: block;
							content: '';
							width: 10px;
							height: 5px;
							position: absolute;
							top: 50%;
							left: 5px;
							background: transparent;
						}
						&:before {
							display: block;
							content: '';
							width: 20px;
							height: 20px;
							position: absolute;
							top: 15px;
							left: 0;
							border: 2px solid #d2d2d2;
						}
					}
					input[type="checkbox"] {
					   visibility: hidden;
					    &:checked + .label:after {
				    	  background-size: 10px;
				    	  border: 3px solid #0b54a0; 
				    	  border-top: none;
				    	  border-right: none;
				    	  transform: rotate(-45deg);
				    	}
					}
					input[type="radio"] {
					   visibility: hidden;
					    & + .label:before {
							border-radius: 50%;
					     }
					    &:checked + .label:after {
				    	  background: #0b54a0;
				    	  background-size: 10px;
				    	  box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff;
				    	}
					}
				}
			}
		}
	}
	&__col-right {
		float: right;
		max-width: 366px;
	}
	&__rule {
		background-color: #f1f2f2;
		padding: 18px 20px 5px;
		border-bottom: 1px solid #dfe1e1;
		margin-left: 12px;
		.rule-title {
			color: #212121;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 25px;
		}
		.rule-text {
			margin-bottom: 20px;
			color: #212121;
			font-size: 14px;
		}
		.documents-list {
			font-size: 14px;
			line-height: 20px;
			&__item {
				padding-left: 35px;
				margin-bottom: 20px;
				background: url("../img/pdf.png") no-repeat left 4px;
				background-size: 20px;
				.doc-name {
					color: #0b54a0;
					text-decoration: underline;
				}
			}
		}
	}
}

/*@media*/

@media (max-width: 1240px) {
	.wrap {
		width: 1000px;
		padding: 0 15px;
	}
	.btn--submenu {
		display: inline-block;
	}
	.header-wr {
		.header {
			.navigation {
				position: absolute;
				top: 30px;
				left: 0;
				width: 100%;
				z-index: 2;
				.clearfix;
				.icon-menu {
					display: block;
					&.close {
						left: 15px;
					}
				}
				.main-menu {
					position: absolute;
					flex-direction: column;
					width: 275px;
					position: absolute;
					top: 52px;
					left: 15px;
					z-index: 2;
					display: none;
					&.show {
						display: block;
					}
					&__item {
						&:hover {
							&>a {
								border: none;
								&.main-menu__link--arrow, span:after {
									color: #5a8bbd;
									background-color: #0c4d94;
								}
							}
						}
					}
					&__link--arrow {
						position: relative;
						span {
							line-height: 70px;
							height: 70px;
							&:after {
								content: "\e90f";
								font-family: 'icomoon';
								color: #fff;
								font-size: 12px;
								margin: 0;
								text-align: center;
								display: inline-block;
								vertical-align: middle;
								background-color: #1a68bb;
								width: 60px;
								height: 69px;
								position: absolute;
								top:0;
								right: 0;	
							}
						}
					}
					.submenu {
						left: 274px;
						top: 0;
						&__item {
							background-color: #1a68bb;
							color: #fff;
							a {
								border-bottom: 1px solid #064991;
								height: 70px;
								line-height: 70px;
								border-left: none;
								border-right: none;
								&:hover {
									background-color: #0b54a0 !important;
								}
							}
						}
					}
					&__item {
						width: 100%;
						text-align: left;
						background-color: #0b54a0;
						&.click	 {
							>.submenu {
								visibility: visible;
								opacity: 1;
							}
							span {
								&:after {
									transform: rotate(180deg);
								}
							}
							&:hover {
								>.submenu {
									visibility: visible;
									opacity: 1;
								}
							}
						}
						&:hover {
							background-color: #0c4d94;
							a {
								&.main-menu__link--arrow {
									color: #fff;
								}
								span:after {
									background-color: #1a68bb;
									color: #fff;
								}
							}
							>.submenu {
								opacity: 0;
								visibility: hidden;
							}
						}
						&:before {
							display: none;
						}
						a {
							padding-left: 50px;
							color: #fff;
							line-height: 70px;
							height: 70px;
							border-bottom: 1px solid #064991;
							&.arrow>span {
								margin-left: 15px;
								font-size: 6px;
							}
							&.active {
								background-color: #0b54a0 !important;
								color: #fff !important;
							}
							&:hover {
								background-color: #0c4d94 !important;
								transform: none;
							}
						}
					}
				}
				.search-form {
					display: inline-block;
					vertical-align: middle;
					margin-top: 0;
					padding: 5px 0;
					float: right;
				}
			}
			&__callback {
				margin-top: 55px;
			}
			&__top-line {
				position: relative;
				a {
					&:first-child {
						display: none;
					}
				}
			}
			&__callback {
				.logo {
					width: 100%;
					&__img {
						margin-right: 120px;
					}
				}
				.search {
					position: absolute;
					top: -96px;
					left: 15px;
					.search-form {
						display: none;
					}
					.phone-link {
						display: flex;
						flex-direction: row-reverse;
						align-items: center;
						span {
							&.colon {
								display: inline-block;
							}
						}
						p {
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
	.services-list-wr {
		.services-list {
			.services__item {
				width: 33.3333%;
				padding: 5px;
				a {
					width: 100%;
				}
			}
		} 
	}
	.content {
		.content-sidebar {
			width: 100%;
			margin-bottom: 30px;
		} 
		&__col-left {
			width: 100%;
			.about-list {
				li {
					margin-bottom: 10px;
				}
			}
		}
	}
	.slider {
		&__slide {
			margin: 0 5px;
			img {
				width: 98%;
			}
		}
	}
	.footer-wr {
		.footer-links{
			&__col {
				width: 33%;
				padding-right: 20px;
				&:nth-child(3) {
					display: none;
				}
			}
		}
		.footer{
			&__col{
				width: 30%;
				img {
					margin-left: 20px;
				}
				&:first-child {
					width: 40%;
					p {
						&.grow {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.application {
		&__col-right {
			margin-bottom: 30px;
			float: none;
			max-width: 100%;
		}
		&__col-left {
			width: 100%;
			float: none;
		}
		&__rule {
			margin-left: 0;
			width: 100%;
		}
	}
}

@media (max-width: 1000px) {
	.wrap {
		width: 100%;
		padding: 0 10px;
	}
	.icon-menu {
		&.close {
			left: 10px !important;
		}
	}
	.main-menu {
		left: 10px !important;
	}
}

@media (max-width: 768px) {
	br {
		&.hide {
			display: none;
		}
	}
	.header {
		&__callback {
			.logo {
				&__img {
					margin-right: 30px !important;
				}
			}
		}
	}
	.footer-wr {
		.footer-links{
			&__col {
				width: 50%;
				padding-right: 0;
				&:nth-child(2) {
					display: none;
				}
			}
		}
		.footer {
			&__col {
				width: 48% !important;
				&:first-child {
					margin-right: 15px;
				}
				&:nth-child(2) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.header-wr {
		.header {
			&__callback {
				.search {
					display: none;
					top: -3px !important;
					left: 0;
					background-color: #fff;
					z-index: 2;
					width: 100%;
					padding-right: 20px;
					box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
					border-top: 1px solid #d2d2d2;
					&.show {
						display: block;
					}
					.phone-link {
						padding: 13px 0;
					}
				}
				.logo {
					&__img {
						margin-right: 10px !important;
						img {
							width: 100%;
						}	
					}
					&__text {
						font-size: 14px; 
						span {
							display: none;
						}
					}
				}
			}
			&__top-line {
				position: absolute;
				top: 0;
				right: 59px;
				background-color: #fff;
				display: none;
				&.show {
					display: block;
					z-index: 3;
				}
				.clearfix;
			}
			.mobile-btns-wr {
				display: block;
				position: absolute;
				top: 12px;
				right: 10px;
				z-index: 2;
				button {
					width: 30px;
					height: 30px;
					line-height: 30px;
					background-color: #f1f2f2;
					margin-left: 20px;
					font-size: 20px;
					display: inline-block;
					vertical-align: middle;
					&.icon-contact2 {
						color: #fff;
						background-color: #36a34d;
						font-size: 16px;
						line-height: 16px;
						&:before {
							width: 100%;
							text-align: center;
						}
					}
				}
			}
			.navigation {
				background-color: #fff;
				border-top: 1px solid #f1f2f2;
				border-bottom: 1px solid #f1f2f2;
				top: 0px;
				margin-top: 0;
				.icon-menu {
					width: 52px;
					margin-left: -10px;
					&.close {
						float: left;
						height: 52px;
						width: 50px;
						left: 0 !important;
						&:before {
							margin-left: 3px;
						}
					}
				}
				.main-menu {
					width: 100%;
					left: 0 !important;
					&__link--arrow {
						span {
							&:after {
								content: "\e900" !important;
							}
						}
					}
					.submenu {
						width: 100%;
						left: 0;
						top: 71px;
						li {
							border-right: none !important;
						}
					}
				}
				.search-form {
					display: none;
					padding: 5px 10px;
					position: absolute;
					top: 52px;
					width: 100%;
					left: 0;
					border-bottom: 1px solid #d2d2d2;
					border-top: 1px solid #d2d2d2;
					z-index: 2;
					background-color: #fff;
					&.show {
						display: block;
					}
					input {
						width: 100%;
					}
					button {
						right: 10px;
					}
				}
			}
		}
	}
	.services-list-wr {
		.services-list {
			justify-content: center;
			.services__item {
				width: 50%;
				margin-left: 0;
				margin-right: 0; 
				a {
					width: 100%;	
				}
			}
		} 
	}
	.footer-wr {
		.footer-links{
			&__col {
				width: 100%;
			}
		}
		.footer {
			&__col {
				width: 100% !important;
				&:first-child {
					margin-right: 0;
				}
			}
		}
	}
}


@media (max-width: 480px) {
	.services-list-wr {
		.services-list {
			justify-content: center;
			.services__item {
				width: 100%;
				margin-left: 0;
				margin-right: 0; 
				padding: 5px 0;
				a {
					width: 100%;	
				}
			}
		} 
	}
	.phone-link {
		font-size: 18px !important;
	}
}



